body {
	background-image:url(texture.jpg);
}
#Head {
	height: 15.4vw; 
	width:10vw;
	background-color: khaki; 
	border-radius:90vw;
	margin-top: calc(-23vw + 0px);
	width:99%;
	margin-left:0.5%;
	border-width:10px;
	border-color:#67190F;
	border-style:solid;
}

#MainText {
	font-size: 7vw; 
	text-align: center;
	padding-top:15px;
}
#SubText {
	font-size: calc(3vw + 0px);
	text-align: center; 
	margin-top: calc(-1%);
}
.sec {
	margin-left:1%;
	background-color:#600;
	border-radius:10px;
	padding-left:0.5%;
}
h1 {
	margin-left:20px;
	color:#FFF;
	font-family:Tahoma, Geneva, sans-serif;
}

h2 {
	color:#ABC;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:10px;
}
h3 {
	width:65%;
}
img {
	margin-left:100%;
	margin-top:-350px;
}
#piclable{
	margin-left:100%;
	margin-top:-50px;
}
#sitediv {
	text-size:10px;
}